/* montserrat-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/montserratmontserrat-v25-latin-regular.eot'); /* IE9 Compat Modes */
  src: url('../fonts/montserratmontserrat-v25-latin-regular.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */ url('../fonts/montserratmontserrat-v25-latin-regular.woff2')
      format('woff2'),
    /* Super Modern Browsers */
      url('../fonts/montserratmontserrat-v25-latin-regular.woff') format('woff'),
    /* Modern Browsers */
      url('../fonts/montserratmontserrat-v25-latin-regular.ttf')
      format('truetype'),
    /* Safari, Android, iOS */
      url('../fonts/montserratmontserrat-v25-latin-regular.svg#Montserrat')
      format('svg'); /* Legacy iOS */
}
/* montserrat-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/montserratmontserrat-v25-latin-700.eot'); /* IE9 Compat Modes */
  src: url('../fonts/montserratmontserrat-v25-latin-700.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */ url('../fonts/montserratmontserrat-v25-latin-700.woff2')
      format('woff2'),
    /* Super Modern Browsers */
      url('../fonts/montserratmontserrat-v25-latin-700.woff') format('woff'),
    /* Modern Browsers */ url('../fonts/montserratmontserrat-v25-latin-700.ttf')
      format('truetype'),
    /* Safari, Android, iOS */
      url('../fonts/montserratmontserrat-v25-latin-700.svg#Montserrat')
      format('svg'); /* Legacy iOS */
}
