/* montserrat-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: url('../public/assets/fonts/montserrat/montserrat-v25-latin-700.eot'); /* IE9 Compat Modes */
  src: url('../public/assets/fonts/montserrat/montserrat-v25-latin-700.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */
      url('../public/assets/fonts/montserrat/montserrat-v25-latin-700.woff2')
      format('woff2'),
    /* Super Modern Browsers */
      url('../public/assets/fonts/montserrat/montserrat-v25-latin-700.woff')
      format('woff'),
    /* Modern Browsers */
      url('../public/assets/fonts/montserrat/montserrat-v25-latin-700.ttf')
      format('truetype'),
    /* Safari, Android, iOS */
      url('../public/assets/fonts/montserrat/montserrat-v25-latin-700.svg#Montserrat')
      format('svg'); /* Legacy iOS */
}

/* poppins-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url('../public/assets/fonts/poppins/poppins-v20-latin-regular.eot'); /* IE9 Compat Modes */
  src: url('../public/assets/fonts/poppins/poppins-v20-latin-regular.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */
      url('../public/assets/fonts/poppins/poppins-v20-latin-regular.woff2')
      format('woff2'),
    /* Super Modern Browsers */
      url('../public/assets/fonts/poppins/poppins-v20-latin-regular.woff')
      format('woff'),
    /* Modern Browsers */
      url('../public/assets/fonts/poppins/poppins-v20-latin-regular.ttf')
      format('truetype'),
    /* Safari, Android, iOS */
      url('../public/assets/fonts/poppins/poppins-v20-latin-regular.svg#Poppins')
      format('svg'); /* Legacy iOS */
}

/* poppins-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  src: url('../public/assets/fonts/poppins/poppins-v20-latin-700.eot'); /* IE9 Compat Modes */
  src: url('../public/assets/fonts/poppins/poppins-v20-latin-700.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */
      url('../public/assets/fonts/poppins/poppins-v20-latin-700.woff2')
      format('woff2'),
    /* Super Modern Browsers */
      url('../public/assets/fonts/poppins/poppins-v20-latin-700.woff')
      format('woff'),
    /* Modern Browsers */
      url('../public/assets/fonts/poppins/poppins-v20-latin-700.ttf')
      format('truetype'),
    /* Safari, Android, iOS */
      url('../public/assets/fonts/poppins/poppins-v20-latin-700.svg#Poppins')
      format('svg'); /* Legacy iOS */
}
